.weather{
    background-image: url('../image/GettyImages-1160351539-8343780b9a964f0888a31b30bf2fcd27.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
#search{
    border: 3px solid #F0F8FF;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur(1px );

}
#search:focus{
box-shadow: none; 

}
.active{
    border: 3px solid #F0F8FF;
    border-radius: 50px;
}
.nav-item a{
    font-weight: bold;
    font-size: 1rem; 
   
}

.today-card, .nextday-card{
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 1px );
-webkit-backdrop-filter: blur(1px );
border-radius: 10px;
}
footer {
    background-color: #374850;
    padding: 20px 0;
}

footer i {
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

footer i:hover {color: rgb(255, 193, 7);}